<html>
    <body onload="myFunction()">
        <link rel="stylesheet" href="style.css">
        <header id="header">
            Stock Price Alerter
        </header>            
            <h2>Add stock to watch</h2>                                  
            <form id="form" action='/new' method="POST">
                <input type="text" id="stockId" name="stockId" placeholder="StockId" required>
                <input type="text" id="buyPrice" name="buyPrice" placeholder="buying Price">
                <input type="text" id="amountInvested" name="amountInvested" placeholder="amount Invested">
                <input type="text" id="lowerLimit" name="lowerLimit" placeholder="lowerLimit">
                <input type="text" id="upperLimit" name="upperLimit" placeholder="upperLimit">
                <button type="submit">Submit</button>
            </form>
        <hr>
        <div>
            <div id="stockList">
                <h1>Stocks to Watch</h1>  
                <table class="content-table">  
                    <thead>
                        <tr>
                            <td>Stock Id</td>
                            <td>Lower Limit</td>
                            <td>Upper Limit</td>
                            <td>Amound Invested</td>
                            <td>Initial Price</td>
                            <td>Current Price</td>
                            <td>Gains</td>
                            <td>Action</td>
                        </tr>  
                    </thead>                  
                    <%items.forEach(function(item){%>
                        <tr>
                            <td onload="refresh()"><%= item.stockId %></td>
                            <td ><%= item.lowerLimit %></td>
                            <td ><%= item.upperLimit %></td>
                            <td ><%= item.amountInvested %></td>
                            <td ><%= item.buyPrice %></td>
                            <td ><%= item.currentPrice %></td>
                            <td><%= (((parseFloat(item.currentPrice) - parseFloat(item.buyPrice)) * (parseFloat(item.amountInvested)) / parseFloat(item.buyPrice))).toFixed(2) %></td>
                            <td>
                                <button class="btn" onclick="dialogView()">Edit</button>
                                <button class="btn" onclick="deleteStock()">Delete</button>
                            </td>
                        </tr>   
                    <%})%>  
                </table>                   
            </div>   
            <div id="edit">
                    <h1>Change limits</h1>
                    Stock Id : <input type="text" id="sid" disabled="disabled">
                    Lower Limit: <input type="text" id="lowerL" >
                    Upper Limit: <input type="text" id="upperL">
            </div>     
        </div>       
        <script>         
            function dialogView(id,low,high){
                console.log("clicked")
                document.getElementById("edit").style.visibility= "visible";
                var btnId=this.event.target.id;
                document.getElementById("sid").value=document.getElementById(btnId).parentElement.parentElement.firstElementChild.innerHTML;
                document.getElementById("upperL").value=document.getElementById(btnId).parentElement.parentElement.firstElementChild.nextElementSibling.nextElementSibling.innerHTML;
                document.getElementById("lowerL").value=document.getElementById(btnId).parentElement.parentElement.firstElementChild.nextElementSibling.innerHTML;
                $('#edit').dialog({
                    buttons: { "Ok": function() {
                        console.log("ok");
                        console.log(document.getElementById("upperL").value);                       
                        if(document.getElementById("sid").value !="")
                            document.getElementById(btnId).parentElement.parentElement.firstElementChild.innerHTML=document.getElementById("sid").value;
                        if(document.getElementById("upperL").value !="")
                            document.getElementById(btnId).parentElement.parentElement.firstElementChild.nextElementSibling.nextElementSibling.innerHTML=document.getElementById("upperL").value;
                        if(document.getElementById("lowerL").value !="")
                            document.getElementById(btnId).parentElement.parentElement.firstElementChild.nextElementSibling.innerHTML=document.getElementById("lowerL").value;                        
                        document.getElementById("edit").style.visibility= "hidden";
                        var data=({
                            "stockId":document.getElementById(btnId).parentElement.parentElement.firstElementChild.innerHTML,
                            "upperLimit":document.getElementById(btnId).parentElement.parentElement.firstElementChild.nextElementSibling.nextElementSibling.innerHTML,
                            "lowerLimit":document.getElementById(btnId).parentElement.parentElement.firstElementChild.nextElementSibling.innerHTML
                        })
                        changeLimits(data)
                        $( this ).dialog( "close" );
                    }}
                });                
                console.log(document.getElementById("lowerL").value);
            }
        </script>
        <script>
            var counter = 1;
            var btns = document.getElementsByClassName("btn")
            for (var i=0;i<btns.length;i++){
                btns[i].id=(counter++);
            }
        </script>
        </script>     
        <link rel="stylesheet" href="jquery.css" />
        <script src="jquerymin.js"></script> 
        <script src="jqueryUI.js"></script>
        <script>         
            function refresh(){
                concolw.log("Refresh");
                location.reload();
            }
            function myFunction() {
              setInterval(function(){
                const Http = new XMLHttpRequest();
                const url='http://localhost:4001/update';
                Http.open("GET", url);
                Http.send();
                Http.onreadystatechange = (e) => {
                  console.log(Http.responseText)
                  console.log("updated");
                  location.reload();
                }
                },20000);
            };                  
            function changeLimits(data){         
                console.log(data);
                const jsonString = JSON.stringify(data);
                fetch('/change',{
                    method: 'POST' ,
                    headers:{
                        'Content-Type':'application/json'},
                    body : jsonString
                }).then(()=>{console.log('done');location.reaload});
            }          
            async function  deleteStock(){
                console.log("delete stock");
                var btnId=this.event.target.id;
                var stockId = document.getElementById(btnId).parentElement.parentElement.firstElementChild.innerHTML;
                const data = ({
                    "stockId":stockId
                })
                const jsonString = JSON.stringify(data);
                const Http = new XMLHttpRequest();
                const url='http://localhost:4001/delete';
                Http.open("POST", url);
                Http.setRequestHeader('Content-Type','application/json');
                Http.send(jsonString);
                Http.onreadystatechange = (e) => {
                  console.log(Http.responseText)
                  console.log("deleted");
                  location.reload();
                }
            }
            </script>
        </script>      
    </body>
</html>